@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Monoton&family=Montserrat:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&family=Rubik&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #070707;
  color: #fff;
}

nav{
  padding: 0;
  /* box-shadow: 0px 0px 100px 1px#ac32e4; */
}

.navbar{
  padding: 0;
  background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}

.navbar-container{
  background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
}

.navbar-brand{
  background-color: transparent;
  text-align: center;
}

#navbar-text-1{
  background-color: transparent;
  font-size: 3rem;
  font-family: 'Major Mono Display', monospace;
}

#navbar-text-2{
  background-color: transparent;
  font-size: 3rem;
  font-family: 'Monoton', cursive;
}

.upper-body{
  margin: 0;
  padding: 0 !important;
  height: 100vh;
}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  color: #fff
}

.coin-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  background: transparent;
}

.coin-text{
  font-family: 'Major Mono Display', monospace;
  margin-bottom: 2rem;
  text-align: center;
  background: transparent;
}

.coin-input{
  padding-left: 1rem;
  width: 18.75rem;
  height: 3.125rem;
  border-radius: 0.25rem;
  border: none;
  background-image: linear-gradient(-225deg, #ac32e4 0%, #7918f2 48%, #4801ff 100%);
  color: #e2e2e2;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.coin-input::placeholder{
  color: #e2e2e2;
}

.footer-text{
  color: #ac32e4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer{
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: smaller;
  text-align: center;
}

footer a{
  background-color: #070707;
}

footer svg{
  background-color: transparent;
}

footer button{
  background-color: #070707;
}

@media (max-width: 996px){
  #navbar-text-1{
    font-size: 2rem;
  }
  
  #navbar-text-2{
    font-size: 2rem;
  }
  .coin-input{
    width: 16rem;
  }
}

@media (max-width: 600px){
  .coin-input{
    width: 14rem;
    height: 2.5rem;
  }
  .coin-search{
    margin-bottom: 2rem
  }
}

@media (max-width: 435px){
  .coin-input{
    width: 11rem;
    height: 1.9rem;
  }
  .coin-search{
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 309px){
  .coin-input{
    width: 6rem;
    height: 1.5rem;
  }
  .coin-search{
    margin-bottom: 1rem;
  }
}

